.REWS_PD4-host {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.REWS_PD4_main-body {
    z-index: 99999;

    position: absolute;

    display: flex;
    flex-direction: column-reverse;

    max-width: 750px;
    max-height: 395px;
    color: whitesmoke;
    background-color: #101010AA;
    border: 2px solid silver;
    border-radius: 7px;
    font-weight: bold;
    font-family: arial;
    font-size: 12px;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
}

.REWS_PD4_main-top {
    display: flex;
    justify-content: space-between;

    background-color: #101010CC;

    padding-left: 4px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 4px;

}


.REWS_PD4_main-content {
    border-top: 2px solid silver;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.REWS_PD4_main-close {
    padding: 5px;
    padding-right: 6px;
    margin: -5px;
    margin-right: -6px;
}

.REWS_PD4_main-content_left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 200px;
    padding: 5px;
    border-right: 2px solid silver;
}

.REWS_PD4_main-search {
    height: 12px;

    font-size: 12px;
    background-color: #101010AA;


}

.REWS_PD4_main-content_label {
    margin-top: 10px;
}

.REWS_PD4_main-content_list {
    display: flex;
    flex-direction: column;

    max-height: 322px;
    width: 190px;

    margin-top: 7px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 5px;

    border-top: 2px solid silver;

    overflow-y: scroll;
    scrollbar-color: silver #101010AA;
}

.REWS_PD4-button {
    border: 2px solid silver;
    padding: 5px;
    margin-top: 4px;
    border-radius: 7px;
}

.REWS_PD4_main-content_right {
    margin: 5px;
}

.REWS_PD4_main-right-content {

}

.REWS_PD4_main-right-title {

}

