.REWS_PD4-host {
    position: absolute;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
}


.REWS_PD4-main-body {
    position: absolute;

    display: flex;
    flex-direction: column-reverse;

    max-width: 750px;
    max-height: 400px;

    color: whitesmoke;

    font-family: arial;
    font-size: 12px;
    font-weight: bold;

    background-color: #101010AA;

    border: 2px solid silver;
    border-radius: 10px;

    overflow: hidden;

    user-select: none;
    -ms-user-select: none;

    z-index: 99999;
}

.REWS_PD4-addons-body {
    position: absolute;

    display: flex;
    flex-direction: column;

    color: whitesmoke;

    font-family: arial;
    font-size: 12px;
    font-weight: bold;

    background-color: #101010AA;

    border: 2px solid silver;
    border-radius: 10px;

    overflow: hidden;

    user-select: none;
    -ms-user-select: none;

    z-index: 99999;
}

.REWS_PD4-main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border-top: 2px solid silver;
}

.REWS_PD4-addons-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border-top: 2px solid silver;
}

.REWS_PD4-top {
    display: flex;
    justify-content: space-between;

    min-height: 14px;
    max-height: 14px;

    background-color: #101010CC;

    padding-left: 4px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 4px;
}

.REWS_PD4-close {
    padding: 5px;
    padding-right: 6px;

    margin: -5px;
    margin-right: -6px;
}

.REWS_PD4-button {
    background-color: #101010CC;

    border: 2px solid silver;
    border-radius: 10px;

    padding: 5px;

    margin-top: 4px;
}

.REWS_PD4-button:hover {
    background-color: #353535FF;
}



.REWS_PD4-main-left_side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    border-right: 2px solid silver;

    width: 200px;
    max-width: 200px;

    max-height: 367px;

    padding: 5px;
    padding-bottom: 0px;
}

.REWS_PD4-main-search {
    height: 20px;

    font-size: 12px;

    background-color: #101010AA;
}

.REWS_PD4-main-button_column {
    display: flex;
    flex-direction: column;

    max-height: 322px;
    width: 190px;

    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 10px;

    border-top: 2px solid silver;

    overflow-y: scroll;
    scrollbar-color: silver #101010AA;

}

.REWS_PD4-main-addons_title {
    margin-top: 10px;
}



.REWS_PD4-main-right_side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    width: 550px;
    max-width: 550px;

    max-height: 400px;

    margin: 5px;
}

.REWS_PD4-main-content_title {
    border-bottom: solid 2px silver;

    font-size: 21px;
    text-align: center;

    padding-bottom: 6px;

    margin: 2px -5px;
}

.REWS_PD4-main-page_content {
    align-self: center;
}