.REWS_PD4-host {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}


.REWS_PD4-main-body {
    position: absolute;

    display: flex;
    flex-direction: column-reverse;

    max-width: 750px;
    max-height: 400px;

    color: whitesmoke;

    font-family: arial, serif;
    font-size: 12px;
    font-weight: bold;

    background-color: #101010AA;

    border: 2px solid silver;
    border-radius: 10px;

    overflow: hidden;

    user-select: none;
    -ms-user-select: none;

    z-index: 99999;
}

.REWS_PD4-addons-body {
    position: absolute;

    display: flex;
    flex-direction: column-reverse;

    color: whitesmoke;

    font-family: arial, serif;
    font-size: 12px;
    font-weight: bold;

    background-color: #101010AA;

    border: 2px solid silver;
    border-radius: 10px;

    overflow: hidden;

    user-select: none;
    -ms-user-select: none;

    z-index: 99999;
}

.REWS_PD4-main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border-top: 2px solid silver;
}

.REWS_PD4-addons-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    text-align: center;

    border-top: 2px solid silver;

    padding: 10px;
}

.REWS_PD4-addons-combined_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.REWS_PD4-top {
    display: flex;
    justify-content: space-between;

    min-height: 14px;
    max-height: 14px;

    background-color: #101010CC;

    padding: 3px 5px 4px 4px;
}

.REWS_PD4-close {
    padding: 5px 6px 5px 5px;

    margin: -5px -6px -5px 10px;
}

.REWS_PD4-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: #101010CC;

    border: 2px solid silver;
    border-radius: 10px;

    padding: 7px;

    margin-top: 4px;
}

.REWS_PD4-button:hover {
    background-color: #353535CC;
}

.REWS_PD4-addon_button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 40%;

    background-color: #101010CC;

    border: 2px solid silver;
    border-radius: 10px;

    padding: 5px;

    margin-top: 4px;
}

.REWS_PD4-addon_button:hover {
    background-color: #353535CC;
}

.REWS_PD4-EasyGroup-invite_button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 40%;

    background-color: #101010CC;

    border: 2px solid silver;
    border-radius: 10px;

    padding: 5px;

    margin: 4px;
}

.REWS_PD4-EasyGroup-invite_button:hover {
    background-color: #353535CC;
}

.REWS_PD4-GroupClan-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100px;

    background-color: #101010CC;

    border: 2px solid silver;
    border-radius: 10px;

    padding: 7px;

    margin: 4px;
}

.REWS_PD4-GroupClan-button:hover {
    background-color: #353535CC;
}

.REWS_PD4-addons-single_button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100px;

    background-color: #101010CC;

    border: 2px solid silver;
    border-radius: 10px;

    padding: 5px;

    margin: 4px;
}

.REWS_PD4-addons-single_button:hover {
    background-color: #353535CC;
}



.REWS_PD4-main-left_side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    border-right: 2px solid silver;

    width: 200px;
    max-width: 200px;

    min-height: 367px;
    max-height: 367px;

    padding: 5px 5px 0;
}

.REWS_PD4-main-search {
    height: 20px;

    color: whitesmoke;
    font-size: 12px;

    background-color: #101010AA;

    margin: 3px 2px;
}

.REWS_PD4-text_input {
    width: 100%;

    color: whitesmoke;
    font-size: 12px;

    background-color: #101010AA;
}

.REWS_PD4-main-button_column {
    display: flex;
    flex-direction: column;

    width: 190px;

    height: 100%;
    max-height: 322px;

    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 10px;

    border-top: 2px solid silver;

    overflow-y: scroll;
    scrollbar-color: silver #101010AA;

}

.REWS_PD4-main-addons_title {
    margin-top: 10px;
}



.REWS_PD4-main-right_side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    width: 550px;
    max-width: 550px;

    max-height: 400px;

    margin: 5px 0 5px 5px;
}

.REWS_PD4-main-page_title {
    border-bottom: solid 2px silver;

    font-size: 21px;
    text-align: center;

    padding-bottom: 10px;

    margin: 4px -5px 6px -5px;
}

.REWS_PD4-main-page_content {
    align-self: center;

    width: 100%;
    max-width: 526px;

    height: 323px;
    max-height: 323px;

    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: silver #101010AA;

    padding-right: 6px;
}

.REWS_PD4-main-page_layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;

    height: 100%;

    padding: 0 5px;
}

.REWS_PD4-main-page_header {
    font-size: 18px;

    margin-top: 8px;
}

.REWS_PD4-main-page_text {
    font-weight: normal;

    margin-top: 5px;
    margin-right: 5px;
}

table.REWS_PD4-table {
    width: 98%;

    color: whitesmoke;

    border: solid 2px silver;
    border-collapse: collapse;

    margin-top: 5px;
}

.REWS_PD4-table th {
    font-weight: bold;

    border: solid 1px silver;

    padding: 5px;
}

.REWS_PD4-table td {
    font-weight: normal;

    border: solid 1px silver;

    padding: 5px;
}

.REWS_PD4-keybinds_table-addon_name {
    width: 90px;
}

.REWS_PD4-keybinds_table-checkbox {
    width: 28px;
    text-align: center;
}

.REWS_PD4-keybinds_table-key {
    width: 80px;
}


.REWS_PD4-addons-button_bundle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.REWS_PD4-addons-settings_left_side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.REWS_PD4-addons-settings_right_side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    margin-right: 10px;
}


.REWS_PD4-addons-settings_title {
    padding: 3px 2px 3px 0;

    margin-left: 20px;
}

.REWS_PD4-addons-settings_checkbox {
    padding: 3px 2px 3px 0;

    margin-right: 20px;
}

.REWS_PD4-addons-buttons_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.REWS_PD4-addons-player_list_scrollable {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 285px;

    min-height: 10px;
    height: 10px;
    max-height: 240px;

    margin: 3px;

    border-top: 2px solid silver;

    overflow-y: scroll;
    scrollbar-color: silver #101010AA;
}